.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__logo {
    margin-right: 88px;

    @media (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &__nav {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__nav &__item + &__item {
    margin-left: 50px;
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:focus,
    &:hover {
      color: var(--accent-color);
    }

    &-current {
      position: relative;
      padding-top: 32px;
      padding-bottom: 32px;
      color: var(--accent-color);
      text-decoration: none;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-current--current::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
    }
  }

  &__contakt {
    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) {
      margin-left: auto;
    }

    @media (min-width: 1200px) {
      display: flex;
    }

    & .header__item + .header__item {
      @media (min-width: 1200px) {
        margin-left: 40px;
      }
    }

    &-link {
      color: var(--accent-color);
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
    &-link:focus,
    &-link:hover {
      color: var(--accent-color);
    }
  }

  &__icon-envelope {
    width: 14px;
    height: 10px;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 0;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
  &__icon-tel {
    width: 10px;
    height: 14px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 0;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 1200px) {
      height: 16px;
    }

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }

  &__contakt-type {
    color: var(--title-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}

.header__item {
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.header__burger {
  position: absolute;
  right: 10px;
  padding: 0;
  background: none;
  border: none;

  @media (min-width: 768px) {
    display: none;
  }
}

.header__burger-icon {
  width: 24px;
  height: 16px;
  stroke: var(--primary-text-color);
  cursor: pointer;

  &-icon :focus,
  &-icon :hover {
    stroke: var(--accent-color);
  }
}

.container-mob-menu {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  @media (min-width: 480) {
    width: 480px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #ffffff;
}

.mob-menu > .container-mob-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.mob-menu__close {
  position: absolute;
  width: 18.67px;
  height: 18.67px;
  top: 21px;
  right: 25.33px;
  background: none;
  border: none;
  cursor: pointer;

  & :focus,
  & :hover {
    color: var(--accent-color);
  }
}

.mob-menu__item:not(last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.link-current {
  color: var(--accent-color);
  text-decoration: none;
}

.link:focus,
.link:hover {
  color: var(--accent-color);
}

.mob-menu__contakt-type {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 32px;
}

.mob-menu__contakt-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.mob-menu__list {
  margin-top: 48px;
  margin-left: 40px;
}

.mob-menu__soc-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu__contakt {
  margin-left: 40px;
  margin-bottom: 64px;
}

.mob-menu__soc {
  display: flex;
  margin-left: 40px;
  margin-bottom: 48px;
}

.symbol {
  color: var(--accent-color);
  margin-left: 10px;
  margin-right: 10px;
}
