.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__logo {
    margin-right: 93px;
  }

  &__nav {
    display: flex;
  }

  &__nav &__item + &__item {
    margin-left: 50px;
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:focus,
    &:hover {
      color: var(--accent-color);
    }

    &-current {
      position: relative;
      padding-top: 32px;
      padding-bottom: 32px;
      color: var(--accent-color);
      text-decoration: none;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-current--current::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
    }
  }

  &__contakt {
    display: flex;
    margin-left: auto;

    & .header__item + .header__item {
      margin-left: 40px;
    }

    &-link {
      color: var(--accent-color);
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-link:focus,
    &-link:hover {
      color: var(--accent-color);
    }
  }

  &__icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 0;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
  &__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 0;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }

  &__contakt-type {
    padding-left: 40px;
    color: var(--title-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}
