.addition {
  padding-top: 0px;

  &__text {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__main {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__list {
    list-style: none;
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
  }
}

.addition__main:nth-child(3n) {
  margin-right: 0px;
}

.addition__card {
  position: relative;

  &-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
  }
}
