.clients__list {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

.clients__name {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.icon__list {
  width: 210px;
  height: 92px;
  // margin-right: 25px;
  margin-bottom: 30px;
  fill: #afb1b8;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 480px) and (max-width: 767px) {
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
    height: 120px;
    flex-basis: calc((100% - 60px) / 3);

    &:nth-child(3n) {
      margin-right: 0px;
    }
    &:nth-child(n + 3) {
      margin-bottom: 0px;
    }

    @media (min-width: 1200px) {
      display: flex;
      width: 170px;
      flex-basis: calc((100% - 150px) / 6);
    }
  }
}
.clients__icon-list {
  margin-bottom: 50px;

  &:focus,
  &:hover {
    cursor: pointer;
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
