body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
